// Place all the styles related to the api/rentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rental-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.rental-form {
  background: white;
  padding: 20px;
  box-shadow: 0 0 1rem rgba(0,0,0,.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rental-heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}

.form-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.upload-input {
   display: flex;
   justify-content: center;
   padding: 7px 8px;
   border: 1px solid lightgray;
   border-radius: 5px;
   font-size: 18px;
   margin: 5px;
   width: 350px;
}

.book-dropdown {
  // -webkit-appearance: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 350px;
  margin: 0px 0px 0px 10px;
  padding: 25px;
  background: white;
  display: flex;
  justify-content: flex-end;
}


.book-dropdown-item {
  -webkit-appearance: none;
  background: white;
}

.upload-submit {
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  text-align: center;
  background-color: rgb(17, 4, 202);
  color: white;
}